* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    background-color: yellow;
    height: 700px;
    /* width: 504px; */
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;
    gap: 4px;
    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";
}

.box {
    border: 1px solid red;
    background-color: aqua;
}

#header {
    grid-area: hd;
}
#sidebar {
    grid-area: side;
}
#content {
    grid-area: main;
}
#footer {
    grid-area: ft;
}


/* SET MEDIA QUERIES */
@media(max-width: 500px) {
    .container {
        grid-template-rows: 30px 1fr 1fr 30px;
        grid-template-columns: 1fr;
        gap: 2px;
        grid-template-areas: 
        "hd"
        "side"
        "main"
        "ft";
    }
}