.container {
    border: 1px solid black;
    background-color: yellow;
    height: 700px;
    width: 504px;
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;
    gap: 4px;
    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";
}

.box {
    border: 1px solid red;
    background-color: aqua;
}

#header {
    grid-area: hd;
}
#sidebar {
    grid-area: side;
}
#content {
    grid-area: main;
}
#footer {
    grid-area: ft;
}

.childgrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.element {
    border: 2px solid green;
    background-color: hotpink;
}