.container {
    background: yellow;
    border: 1px solid red;
    height: 700px;
    width: 400px;
    display: grid;
    /* gap: 10px; */
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(2, 100px);

    /* justify-content: start;
    justify-content: end;
    justify-content: space-evenly;
    justify-content: space-around;
    justify-content: space-between; */

    /* by default stretch */
    /* align-items: stretch;
    align-items: start;
    align-items: end;
    align-items: baseline; */

    /* align-content: center;
    align-content: space-around;
    align-content: space-evenly;
    align-content: space-between; */

    /* SHORT HAND FOR JUSTIFY-CONTENT, ALIGN-CONTENT */
    /* place-content: center; */

    /* SHORT HAND FOR JUSTIFY-ITEMS, ALIGN-ITEMS */
    /* place-items: center; */
}

.box {
    background-color: aqua;
    border: 1px solid green;
}

#box1 {
    /* justify-self: start;
    justify-self: end; */

    /* align-self: center; */
}