* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.container {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* our 3d style should be preserved, i.e. z plane screen ke bahar honi chahiye left right nhi
     */
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    /* door jakar img choti hogyi, scale se waaps bada krdi */
    transform: translateZ(-40px) scale(5);
}

.foreground {
    transform: translateZ(-20px) scale(3);
}

.background, .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

